# ==================================================
# macOS
# ==================================================
.DS_Store
.AppleDouble
.LSOverride

# ==================================================
# Logs
# ==================================================
logs/
*.log

# ==================================================
# Temporary
# ==================================================
temp/
tmp/
*.tmp
*.bak

# ==================================================
# Editor
# ==================================================
.vscode/settings.json
.idea/

# ==================================================
# Shell
# ==================================================
*.swp
*.swo

# ==================================================
# Cache
# ==================================================
.cache/